<%# File Created 10/11/2019 by Neel Mansukhani
    Edited 10/12/2019 by Neel Mansukhani
%>

<%# Partial for navbar %>
<div class="navbar">
    <ul>
        <li><a class="<%=current_page.data.title == "People" ? "active": "inactive"%>" href="../people/people.html">People</a></li>
        <li><a class="<%=current_page.data.title == "Publications" ? "active": "inactive"%>" href="../publications/publications.html">Publications</a></li>
        <li><a class="<%=current_page.data.title == "Appointments" ? "active": "inactive"%>" href="../appointments/appointments.html">Appointments</a></li>
        <li><a class="<%=current_page.data.title == "media_and_press" ? "active": "inactive"%>" href="../media_and_press/media_and_press.html">Media and Press</a></li>
        <li style="float:right"><a class="<%=current_page.data.title == "People" ? "active": "inactive"%>" href="../index.html">Home</a></li>
    </ul>
</div>