<%# File Created 10/11/2019 by Neel Mansukhani
    Edited 10/12/2019 by Neel Mansukhani
    Edited 10/12/2019 by Sri Ramya Dandu: Fixed bug to link to application page
    Edited 10/12/2019 by Sharon Qiu: Added Media page
    Edited 10/13/2019 by Neel Mansukhani: Fixed homepage highlihgt bug. 
    Edited 10/13/2019 by Neel Mansukhani: Added noteworthy page. 
%>

<%# Partial for navbar %>
<div class="navbar">
    <ul>
        <li><a class="<%=current_page.data.title == "Noteworthy" ? "active": "inactive"%>" href="../views/noteworthy.html">Noteworthy</a></li>
        <li><a class="<%=current_page.data.title == "People" ? "active": "inactive"%>" href="../views/current_students.html">People</a></li>
        <li><a class="<%=current_page.data.title == "Publications" ? "active": "inactive"%>" href="../views/publications.html">Publications</a></li>
        <li><a class="<%=current_page.data.title == "Media and Press" ? "active": "inactive"%>" href="../views/media_and_press.html">Media and Press</a></li>
        <li><a class="<%=current_page.data.title == "Appointments" ? "active": "inactive"%>" href="../views/appointments.html">Appointments</a></li>
        <%# <p><%=current_page.data.title\%\></p>%>
        <li style="float:right"><a class="<%=current_page.data.title == "The Ohio State University" ? "active": "inactive"%>" href="../index.html">Home</a></li>
    </ul>
</div>