<%# Edited 10/12/2019 by Sri Ramya Dandu: Moved Neel's layout into here and fixed stylesheet 
    Edited 10/12/2019 by Sri Ramya Dandu: Added the footer %>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
  
    <div id= "page-layout">
    <% html_dir = File.dirname(__FILE__)%>
    <%= partial "#{html_dir}/navbar" %>

      <div id= "content-layout">
<<<<<<< HEAD
=======
      <div class="navbar">
      <ul>
          <li><a class="<%=current_page.data.title == "People" ? "active": "inactive"%>" href="../people/people.html">People</a></li>
          <li><a class="<%=current_page.data.title == "Publications" ? "active": "inactive"%>" href="../publications/publications.html">Publications</a></li>
          <li><a class="<%=current_page.data.title == "media_and_press" ? "active": "inactive"%>" href="../media_and_press/media_and_press.html">Media and Press</a></li>
          <li><a class="<%=current_page.data.title == "Appointments" ? "active": "inactive"%>" href="../appointments/appointments.html">Appointments</a></li>
          <li style="float:right"><a class="<%=current_page.data.title == "People" ? "active": "inactive"%>" href="../index.html">Home</a></li>
      </ul>
    </div>
>>>>>>> f2efc61bbb95f62fc2c04646dbe81c200cf6ec35
  
      <%= yield %>
      </div>
      <%= partial "#{html_dir}/footer" %>

    </div>
  </body>
</html>
