<%# Edited 10/12/2019 by Sri Ramya Dandu: Moved Neel's layout into here and fixed stylesheet 
    Edited 10/12/2019 by Sri Ramya Dandu: Added the footer %>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
  
    <div id= "page-layout">
    <% html_dir = File.dirname(__FILE__)%>
    <%= partial "#{html_dir}/navbar" %>

      <div id= "content-layout">
  
      <%= yield %>
      </div>
      <%= partial "#{html_dir}/footer" %>

    </div>
  </body>
</html>
