<%# File Created 10/12/2019 by Neel Mansukhani
    Edited 10/13/2019 by Neel Mansukhani: Rearranged files
    Edited 10/14/2019 by Neel Mansukhani: Added pictures.
%>
<% img = "../../images/osu_logo.jpg" if img.nil? %>
<div class="person-container image-animation">
    <div class="picture">
        <img src="<%= img %>"/>
    </div>
    <div class="text-container">
        <div class="name"><%= name %></div>
        <div class="title"><%= title %></div>
        <div class="description"><%= description %></div>
        <div class="current-job"><%= current_job %></div>

    </div>
</div>